<?xml version="1.0" ?>
<window>
	<animation effect="fade" time="200">WindowOpen</animation>
	<animation effect="fade" time="200">WindowClose</animation>
	<coordinates>
		<left>0</left>
		<top>0</top>
		<origin x="0" y="0">Window.IsActive(Home)</origin>
	</coordinates>
	<controls>
		<!-- fade image -->
		<control type="image">
			<left>-1920</left>
			<top>-1080</top>
			<width>5760</width>
			<height>3240</height>
			<animation effect="fade" start="0" end="100" time="300">WindowOpen</animation>
			<animation effect="fade" start="100" end="0" time="200">WindowClose</animation>
			<texture colordiffuse="88888888">colimg/black.png</texture>
		</control>
		<!-- big back button -->
		<control type="button" id="2999">
			<left>-1920</left>
			<top>-1080</top>
			<width>5760</width>
			<height>3240</height>
			<texturefocus/>
			<texturenofocus/>
			<onclick>Action(back)</onclick>
			<onup>2000</onup>
			<ondown>2000</ondown>
			<onleft>2000</onleft>
			<onright>2000</onright>
		</control>
		<!-- background -->
		<control type="image" id="2001">
			<visible>true</visible>
			<left>0</left>
			<top>0</top>
			<width>800</width>
			<height>800</height>
			<texture border="2">dialogs/DialogMessageBackground.png</texture>
		</control>
		<!-- list control -->
		<control type="list" id="2000">
			<left>0</left>
			<top>0</top>
			<width>800</width>
			<height>800</height>
			<onleft/>
			<onright/>
			<visible>true</visible>
			<viewtype>biglist</viewtype>
			<orientation>vertical</orientation>
			<autoscroll>false</autoscroll>
			<scrolltime tween="sine" easing="out">200</scrolltime>
			<!-- not focused -->
			<itemlayout width="800" height="80">
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>800</width>
					<height>80</height>
					<texture border="3">settings/button_no_focus.png</texture>
					<visible>true</visible>
				</control>
				<control type="label">
					<left>0</left>
					<top>3</top>
					<width>800</width>
					<height>80</height>
					<textcolor>ff808183</textcolor>
					<font>Light32</font>
					<aligny>center</aligny>
					<align>center</align>
					<label>$INFO[ListItem.Label]</label>
				</control>
			</itemlayout>
			<!-- focused -->
			<focusedlayout width="800" height="80">
				<control type="image">
					<left>0</left>
					<top>0</top>
					<width>800</width>
					<height>80</height>
					<texture border="3">settings/button_focus.png</texture>
					<visible>Control.HasFocus(2000)</visible>
				</control>
				<!-- focus - selected -->
				<control type="label">
					<left>0</left>
					<top>3</top>
					<width>800</width>
					<height>80</height>
					<textcolor>ffffaf37</textcolor>
					<aligny>center</aligny>
					<align>center</align>
					<font>Light32</font>
					<label>$INFO[ListItem.Label]</label>
				</control>
			</focusedlayout>
		</control>
	</controls>
</window>
